* {
	font-family: 'Give You Glory', cursive;
}

.heading {
	font-size: 30px;
	color: #adadad;
	font-family: 'MedievalSharp', cursive;
}

.heading::first-letter {
	font-family: 'MedievalSharp', cursive;
	color: #383737;
	font-size: 36px;
}

.info-h {
	margin-top: -39px;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	font-style: italic;
}

.header {
	margin-left: 80px;
}