* {
	font-family: 'Raleway', cursive;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.heading {
	font-size: 30px;
	color: #adadad;
	font-family: 'MedievalSharp', cursive;
}

.heading::first-letter {
	font-family: 'MedievalSharp', cursive;
	color: #383737;
	font-size: 36px;
}

.info-h {
	margin-top: -39px;
	font-size: 10px;
	font-style: italic;
}

.navigation {
	margin-left: 10px;
}